html{
	font-family: monaco;
}

.top{
	background-color: rgb(211, 245, 255);
	/*position:relative;*/
	height: 100px;
}

.title{
	/*position: relative;*/
	float: left;
	font-style: italic;
	font-size: 50px;
	top:40px;
}

.rightside{
	/*position: relative;*/
	top:40px; 
	float: right;
	font-size: 30px;
}

.button{
	background-color: rgb(90, 127, 255);
	margin-right: 10px;
 	border:none;
 	height: 40px;
 	width: 150px;
	cursor: pointer;
	font-size: 20px;
	padding-top: 13px;
	text-align: center;
	display: inline-block;
}


.middle{
	/*position: relative;*/
}