html{
	font-family: monaco;
}

.top{
	background-color: rgb(211, 245, 255);
	position:relative;
	height: 180px;
}

.title{
	position: absolute;
	font-style: italic;
	font-size: 80px;
	top: 50%;
  	transform: translate(0%, -50%);
}

.rightside{
	font-size: 30px;
	position: absolute;
  	top: 50%; right: 0%;
  	transform: translate(0%, -50%);
  	text-align: right;
}

.button{
	background-color: rgb(90, 127, 255);
	margin-right: 10px;
 	border:none;
 	height: 40px;
	cursor: pointer;
	font-size: 25px;
	color: white;
	padding-top: 8px;
	padding-right: 3px;
	padding-left: 3px;
	text-align: center;
	display: inline-block;
	margin-top: 2px;
	transition: all 0.5s ease;
}

.submitbutton{
	cursor: pointer;
	margin: 2px 2px;
	background-color: rgb(90, 127, 255);
	border: none;
	/*padding-top: 8px;*/
	padding-right: 3px;
	height: 35px;
	font-size: 20px;


}

.input{
	height: 30px;
	font-size: 20px;
}


.middle{
	/*position: relative;*/
	padding-top: 40px;
}
a{
	text-decoration: none;
}

.content{
	height: 80px;
	width: 500px;
	transition: all .5s ease;
	border-top: 1px;
	border-color: black; 
	border-bottom: 1px;
}

.content:hover{
	transform: scale(1.05);
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
	transform: translate(3%, 0%);
}

.content:active{
	background-color: #ece6f5;
}
.content > a{
	
	color: rgb(156, 136, 176);
}

.content > a:visited{
	color: rgb(156, 136, 176);
}
