html{
	font-family: monaco;
}

.top{
	background-color: rgb(211, 245, 255);
	position:relative;
	height: 180px;
}

.title{
	/*position: relative;*/
	float: left;
	font-style: italic;
	font-size: 80px;
	padding-top:35px;
}

.rightside{
	/*position: relative;*/
	/*padding-top:70px; */
	float: right;
	font-size: 30px;
	position: absolute;
  	top: 50%; right: 50%;
  transform: translate(-50%,-50%);
}

.button{
	background-color: rgb(90, 127, 255);
	margin-right: 10px;
 	border:none;
 	height: 40px;
 	/*width: 150px;*/
	cursor: pointer;
	font-size: 25px;
	color: white;
	padding-top: 8px;
	padding-right: 3px;
	padding-left: 3px;
	text-align: center;
	display: inline-block;

	transition: all 0.5s ease;
}


.middle{
	/*position: relative;*/
	padding-top: 40px;
}
a{
	text-decoration: none;
}

.content > a{
	
	color: rgb(156, 136, 176);
}

.content > a:visited{
	color: rgb(156, 136, 176);
}
